language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
node_js:
  - '8'
  - '9'
# script: 
#   - npm test
# after_success:
#   - npm run report-coverage
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
