div.privacypolicyContainer {
    padding: 20px 50px;
    font-family: 'Raleway Regular';
}

p {
    line-height: 24px;
}

li {
    margin: 10px 0;
}

a {
    color: #13a5ad;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}