@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/raleway-regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(./assets/fonts/raleway-regular.woff2) format('woff2'),
    url(./assets/fonts/raleway-regular.woff) format('woff'),
    url(./assets/fonts/raleway-regular.ttf) format('truetype');
}

.Sensenet {
  text-align: center;
  font-family: Raleway;
  width: 100%;
  margin: 0 auto;
}

.Sensenet-logo {
  width: 100%
}

.Sensenet-header {
  background-color: #fff;
  padding: 60px;
  color: #444;
}

.Sensenet-intro {
  font-size: large;
}

@media screen and (min-width: 500px) {
  .Sensenet {
    max-width: 300px;
  }
}
