.Select-control {
display: 'flex';
    border: 0;
    height: auto;
    background: transparent;
}
.Select-control:hover {
    box-shadow: none
}
.Select-multi-value-wrapper {
    display: flex;
    flex-wrap: wrap
}
.Select--multi .Select-input {
    margin: 0
}
.Select.has-value.is-clearable.Select--single > .Select-control .Select-value {
    padding: 0
}
.Select-input {
    display: inline-flex !important;
    padding: 0;
    height: auto
}
.Select-input input {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: default;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    outline: 0;
}
.Select-placeholder, .Select--single .Select-value {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    padding: 0;
}
.Select-placeholder {
    opacity: 0.42
}
.Select-menu-outer {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
    max-height: 48 * 4.5;
}
.Select.is-focused:not(.is-open) > .Select-control {
    box-shadow: none;
}
.Select-menu {
    max-height: 48 * 4.5;
    overflow-y: auto;
}
.Select-menu div {
    box-sizing: content-box;
}
.Select-arrow-zone, .Select-clear-zone {
    cursor: pointer;
    height: 21;
    width: 21;
    z-index: 1;
}
.Select-aria-only {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1;
    width: 1;
    margin: -1;
}