/**
 * Global Style overrides
**/

ul[role='listbox'] {
  margin: 0;
  padding: 0;
}

a[href] {
  color: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #fff;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(128, 128, 128, 0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* completed */
.comp {
  text-decoration: line-through;
}

.lurkBtn {
  display: none !important;
}
