on: [pull_request]

name: deploy preview

jobs:
  show:
    runs-on: ubuntu-latest
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
  # deploy-snapp:
  #   if: "!contains(toJSON(github.event.commits.*.message), 'skip-deploy')"
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v2
  #     - uses: actions/cache@v1
  #       with:
  #         path: ~/.cache/yarn
  #         key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
  #         restore-keys: |
  #           ${{ runner.os }}-yarn-
  #     - name: install
  #       run: yarn install
  #       env:
  #         CYPRESS_INSTALL_BINARY: 0
  #     - name: build
  #       run: yarn build
  #     - name: build snapp
  #       run: yarn snapp build
  #       env:
  #         RELATIVE_CI_KEY: ${{ secrets.RELATIVE_CI_KEY }}
  #     - name: wake up deploy notifier
  #       run: yarn wait-on https://sensenet-sn-deploy-notifier.glitch.me/ -l -t 300000
  #     - name: Publish
  #       uses: netlify/actions/cli@master
  #       with:
  #         args: deploy --dir=./apps/sensenet/build --message ${{ github.event.pull_request.number }}
  #       env:
  #         NETLIFY_SITE_ID: 94fb346c-b540-40f7-aaaf-21eee2a9c891
  #         NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
  # deploy-storybook:
  #   if: "!contains(toJSON(github.event.commits.*.message), 'skip-deploy')"
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v2
  #     - uses: actions/cache@v1
  #       with:
  #         path: ~/.cache/yarn
  #         key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
  #         restore-keys: |
  #           ${{ runner.os }}-yarn-
  #     - name: install
  #       run: yarn install
  #       env:
  #         CYPRESS_INSTALL_BINARY: 0
  #     - name: build
  #       run: yarn build
  #     - name: build storybook
  #       run: yarn storybook build-storybook
  #     - name: wake up deploy notifier
  #       run: yarn wait-on https://sensenet-sn-deploy-notifier.glitch.me/ -l -t 300000
  #     - name: Publish
  #       uses: netlify/actions/cli@master
  #       with:
  #         args: deploy --dir=./examples/sn-react-component-docs/storybook-static --message ${{ github.event.pull_request.number }}
  #       env:
  #         NETLIFY_SITE_ID: 1747b330-27d8-4ddd-bf74-39469c257010
  #         NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
